.headContPadding {
  padding: 24px !important;
}

.colStyles {
  border: 1px solid #30363d;
  border-radius: 24px !important;
  background-color: #0e1116 !important;
  padding: 24px !important;
}

.nav-bg {
  background-color: #06090e !important;
}

main,
body,
html {
  background-color: #06090e !important;
}

.transparent {
  background-color: transparent !important;
}

.x-info-row {
  display: flex;
  justify-content: space-between;
}

.navbar {
  padding: 16px 20px 16px 20px;
}

.mobileView {
  display: none;
}

.desktopView {
  padding: 24px 32px;
}

#desktopChart {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
  margin: 0 auto;
}

.chartContainer {
  width: 100%;
  height: 100%;
}

.hide {
  opacity: 0;
}

/* Search Bar */
#searchContainer {
  display: flex;
  position: relative;
  margin-right: 8px;
}

#searchInput {
  border-radius: 12px;
  padding-right: 32px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.85);
  border-color: #30363d;
}

#searchInput:disabled {
  opacity: 0.65;
}

#searchKey {
  position: absolute;
  display: block;
  z-index: 2;

  right: 0;

  width: 26px;
  height: 26px;
  line-height: 23px;
  margin: 6px;

  text-align: center;
  pointer-events: none;
  color: #aaa;

  border: 1px solid #30363d;
  border-radius: 8px;
}

@media only screen and (max-width: 992px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .footer {
    position: inherit;
  }

  #searchKey {
    display: none;
  }

  #searchInput {
    padding-right: 12px;
  }
}

.secondaryLabel {
  color: rgba(255, 255, 255, 0.55);
}

.primaryLabel {
  color: rgba(255, 255, 255, 0.85);
}
