{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container-md d-flex justify-content-between bg-dark text-light" style="margin-top: 25px;">
        <div class="container-md">

        </div>
        <div class="container-md">


        </div>
    </div>

    <div class="container">
        <div class="row text-light text-center">
            <div class="col-sm-6 bg-dark">
                <h1 class="">APPL</h1>
                <h5 class="" style="color: rgb(149, 149, 149);">Apple Inc</h5>
            </div>
            <div class="col-sm-4 bg-dark" style="margin-left: auto;">
                <h3 class="">$212.67</h3>
            </div>
        </div>
        <div class="row text-light text-center" style="margin-top: 25px;">
            <div class="col-sm-6 bg-dark" style="padding: 20px;">

            </div>
            <div class="col-sm-4 bg-dark" style="margin-left: auto; padding: 20px;">
                <h4 class="">High - $0.00</h4>
                <h4 class="">Low - $0.00</h4>
                <h4 class="">Open - $0.00</h4>
                <h4 class="">Close - $0.00</h4>
            </div>
        </div>
    </div>

</section>

{% endblock content %}