{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container-md d-flex justify-content-between bg-dark text-light" style="margin-top: 25px;">
        <div class="container-md">

        </div>
        <div class="container-md">


        </div>
    </div>

    <div class="container">
        <div class="row text-light text-center">
            <div class="col-sm-5 bg-dark">
                <h1 class="">APPL</h1>
                <h1 class="">Apple Inc</h1>
            </div>
            <div class="col-sm-4 bg-dark" style="margin-left: auto;">
                <h1 class="">$212.67</h1>
            </div>
        </div>
        <div class="row text-light text-center" style="margin-top: 25px;">
            <div class="col-sm-4 bg-dark" style="margin-left: auto; padding: 20px;">
                <h1 class="">High - $0.00</h1>
                <h1 class="">Low - $0.00</h1>
                <h1 class="">Open - $0.00</h1>
                <h1 class="">Close - $0.00</h1>
            </div>
        </div>
    </div>

</section>

{% endblock content %}