.mainPadding {
    padding: 20px 30px;
}

.headContPadding {
    padding: 20px !important;
}

.colStyles {
    border-radius: 20px !important;
    padding: 20px !important;
}

main, body, html {
    background-color: rgb(26, 26, 26) !important;
}

.transparent {
    background-color: transparent !important;
}

.x-info-row {
    display: flex;
    justify-content: space-between;
}